body, #scoredisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1, p {
    text-align: center;
}

button {
    --dimension: 28vh;

    height: var(--dimension);
    width: var(--dimension);
    background-repeat: no-repeat;
    background-size: var(--dimension) var(--dimension);
}

.uidiv {
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttondiv {

}

.choiceimage {
    height: 256px;
    width: 256px;
}

#infodisplay {
    height: 50vh;
    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#choicedisplay {
    height: 50vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: blue;
}

#rockdiv, #scissorsdiv {
    align-self: flex-start;
    background-color: pink;
}

#paperdiv {
    align-self: flex-end;
    background-color: purple;
}

#rock {
    background-image: url("../img/rock.jpg");
}

#paper {
    background-image: url("../img/paper.jpg");
}

#scissors {
    background-image: url("../img/scissors.jpg");
}